-provide(:title, "Contacts")

%h1
  Contacts
%p
  This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} This is a contact page. You can contact #{link_to 'administrator', '#'} 
%p
  Пишите письма:#{link_to 'aizotov@gmail.com', 'mailto:aizotov@gmail.com'}
%p
  =image_tag "contacts.jpg", alt: "Contacts"