-provide(:title, "Help")

%h1
  Help
%p
  This is help. You can see #{link_to 'contacts', '#'}. You can find #{link_to 'information about us', '#'} This is help. You can see #{link_to 'contacts', '#'}. You can find #{link_to 'information about us', '#'} This is help. You can see #{link_to 'contacts', '#'}. You can find #{link_to 'information about us', '#'} This is help. You can see #{link_to 'contacts', '#'}. You can find #{link_to 'information about us', '#'} This is help. You can see #{link_to 'contacts', '#'}. You can find #{link_to 'information about us', '#'} This is help. You can see #{link_to 'contacts', '#'}. You can find #{link_to 'information about us', '#'} This is help. You can see #{link_to 'contacts', '#'}. You can find #{link_to 'information about us', '#'}