%div.lib_show
  %fieldset
    %legend
      Новый читатель
    %div.field
      %div.lbl_show
        Ф.И.О:
      = full_name
    %div.field
      %div.lbl_show
        № читательского билета:
      = @reader.reader_card_id
    %div.field
      %div.lbl_show
        Дата регистрации:
      = registration
    %div.field
      %div.lbl_show
        Дата рождения:
      = birthday
    %div.field
      %div.lbl_show
        Возраст
      = age
    %div.field
      %div.lbl_show
        Домашний адрес:
      = address
    %div.field
      %div.lbl_show
        Домашний телефон:
      Вывести
    %div.field
      %div.lbl_show
        Место учебы/работы, профессия:
      = @reader.profession_notes

=link_to 'Change information', edit_reader_path(@reader)

-if @reader.books.count > 0
  %h3
    Reader's books

  =render partial: 'shared/show_all_books', locals: { books: @reader.books }


%h3
  Assosiate the book to the reader by id
= form_tag '/search/find', method: 'get' do
  = hidden_field_tag :return_to, @reader.id
  = label_tag :query, 'Find a book by identity'
  = text_field_tag :query
  = submit_tag 'Add book'

-#%h1
-#  Accosiate book
-#-unless @found_book.nil?
-#  = render partial: 'shared/show_book', locals: { book: @found_book }
