%div.lib_show
  %fieldset
    %legend
      New Reader
    %div.field
      %div.lbl_show
        Name:
      = @reader.name
    %div.field
      %div.lbl_show
        Reader's card id:
      = @reader.reader_card_id
    %div.field
      %div.lbl_show
        Birthday:
      = @reader.birthday
    %div.field
      %div.lbl_show
        Address:
      = @reader.address
    %div.field
      %div.lbl_show
        Notes:
      = @reader.notes

=link_to 'Change information', edit_reader_path(@reader)

%h1
  Reader's books

-@reader.books.each do |b|
  = b.identity
  = b.title
  = b.author

%h1
  Find book
= form_tag '/search/find', method: 'get' do
  = hidden_field_tag :return_to, @reader.id
  = label_tag :query, 'Find a book by identity'
  = text_field_tag :query
  = submit_tag 'Add book'

%h1
  Accosiate book
-unless @found_book.nil?
  = render partial: 'shared/show_book', locals: { book: @found_book }
