-provide(:title, @reader.reader_card_id)

-if notice
  %div.notice
    = notice

%div.lib_show
  %fieldset
    %legend
      Reader's information
    %fieldset
      %div.field
        %div.lbl_show
          Name:
        = full_name @reader
      %div.field
        %div.lbl_show
          Reader card id:
        = @reader.reader_card_id
      %div.field
        %div.lbl_show
          Date of registration:
        = registration @reader
    %fieldset
      %div.field
        %div.lbl_show
          Date of birth:
        = birthday @reader
      %div.field
        %div.lbl_show
          Age
        = age @reader
      %div.field
        %div.lbl_show
          Address:
        = address @reader
      %div.field
        %div.lbl_show
          Home phone:
        = @reader.home_phone
      %div.field
        %div.lbl_show
          Profession notes:
        = @reader.profession_notes

=link_to 'Change information', edit_reader_path(@reader)

-if @reader.books.count > 0
  %h3
    Reader's books

  =render partial: 'shared/show_all_books', locals: { books: @reader.books }


%h3
  Assosiate the book to the reader by id
= form_tag '/search/find', method: 'get' do
  = hidden_field_tag :return_to, @reader.id
  = label_tag :query, 'Find a book by identity'
  = text_field_tag :query
  = submit_tag 'Add book'

-#%h1
-#  Accosiate book
-#-unless @found_book.nil?
-#  = render partial: 'shared/show_book', locals: { book: @found_book }
