%div#header
  = link_to "Library", "#", id: "logo"

  %ul
    %li
      = link_to 'Home', '#'
    %li
      = link_to 'Help', '#'
    %li
      = link_to 'Contacts', '#'
    %li
      = link_to 'About Us', '#'
