%table
  %tr
    %th
      Name:
    %th
      Reader's card id
    %th
      Birthday
    %th
      Address
    %th
      Books count
    %th
      Debtor
    %th
    %th

  - readers.each do |reader|
    %tr(class="#{cycle('odd_line', 'even_line')}")
      %td
        = full_name reader
      %td
        = reader.reader_card_id
      %td
        = age reader
      %td 
        = reader.home_phone
      %td
        = reader.books.count
      %td
      %td
        = link_to 'Show', reader
      %td
        = link_to 'Delete', reader, method: :delete