%div.field
  %div.lbl_show
    Identity:
  = book.identity
%div.field
  %div.lbl_show
    Title:
  = book.title
%div.field
  %div.lbl_show
    Author:
  = book.author
%div.field
  %div.lbl_show
    Annotation:
  = book.annotation
%div.field
  %div.lbl_show
    Publishing year:
  = book.publishing_year
%div.field
  %div.lbl_show
    Reader:
  = book.reader_id
