%p
  %strong
    Identity:
  = book.identity
%p
  %strong
    Title:
  = book.title
%p
  %strong
    Author:
  = book.author
%p 
  %strong
    Annotation:
  = book.annotation
%p
  %strong
    Publishing year:
  = book.publishing_year
%p
  %strong
    Reader:
  = book.reader_id
