%div#menucarrier
  %div#menu
    %p
      = link_to 'All Readers', readers_path
    %p
      = link_to 'All Books', books_path
    %p
      = link_to 'Register a new reader', new_reader_path
    %p
      = link_to 'Add book to library', new_book_path
    %p
      = link_to 'Free books', books_free_path
    %p
      = link_to 'Debtors', 'debtors_path'
