= form_for @book do |b|
  -#= render partial: 'shared/errors', locals: { object: b.object }
  %p
    = b.label :identity
    = b.text_field :identity
  %p
    = b.label :title
    = b.text_field :title
  %p
    = b.label :author
    = b.text_field :author
  %p
    = b.label :annotation
    = b.text_area :annotation
  %p 
    = b.label :publishing_year
    = b.text_field :publishing_year
    
    -#= b.hidden_field :reader_id
  = b.submit submit_lbl