-provide(:title, @book.identity)

-if notice
  %div.notice
    = notice

%div.lib_show
  %fieldset
    %legend
      A book
    %fieldset
      %div.field
        %div.lbl_show
          Identity:
        = @book.identity
      %div.field
        %div.lbl_show
          Title:
        = @book.title
      %div.field
        %div.lbl_show
          Author:
        = @book.author
      %div.field
        -unless @book.reader.nil?
          %div.lbl_show
            Returning date:
          = @book.returning_date
          (#{days_to_return @book})
    %fieldset
      %div.field
        %div.lbl_show
          Annotation:
        = @book.annotation
      %div.field
        %div.lbl_show
          Publishing year:
        = @book.publishing_year.year


=link_to 'Change information', edit_book_path(@book)

-unless @book.reader_id.nil?
  %h3
    Book's holder

  = render partial: 'shared/show_all_readers', locals: { readers: [Reader.find(@book.reader_id)] }
-else
  %h3
    The book is free
