!!! 5
%html
  %head
    %title 
      Libtool
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %div#carrier
      = render'shared/header'
      = render'shared/sidepanel'

      %div#text
        = yield

      = render 'shared/footer'
  